---
import BaseLayout from './BaseLayout.astro'
import Navbar from '@components/base/Navbar.astro'
import { Provider } from '@/components/provider/Provider'

interface Props {
  title: string
  description?: string
  image?: string
  mdTitle: string
  mdDescription: string
  mdSlug: string
}

const { title, description, image, mdTitle, mdDescription, mdSlug } = Astro.props
---

<BaseLayout>
  <Provider
    pathName={Astro.url.pathname}
    title={mdTitle}
    description={mdDescription}
    slug={mdSlug}
    client:only="react"
  />
  <Navbar />
  <main class="relative z-1 min-h-max">
    <slot />
  </main>
</BaseLayout>
